@keyframes move {
  100% {
    transform: translate3d(-1500px, 1000px, -1000px); } }

.container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  transform-style: preserve-3d; }

.bubble-wrap {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 1500px;
  z-index: 0;
  opacity: 0;
  animation: feed_in 0.001s linear 33.0s forwards; }

@keyframes feed_in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.bubble {
  position: absolute;
  background: black;
  opacity: .7;
  border-radius: 50%;
  animation: move 10s infinite; }

.bubble:nth-child(1) {
  height: 29px;
  width: 29px;
  animation-delay: -0.2s;
  transform: translate3d(1748px, 95px, 414px);
  background: #4126d9; }

.bubble:nth-child(2) {
  height: 4px;
  width: 4px;
  animation-delay: -0.4s;
  transform: translate3d(43px, 63px, 997px);
  background: #3826d9; }

.bubble:nth-child(3) {
  height: 15px;
  width: 15px;
  animation-delay: -0.6s;
  transform: translate3d(1529px, 24px, 558px);
  background: #d96b26; }

.bubble:nth-child(4) {
  height: 18px;
  width: 18px;
  animation-delay: -0.8s;
  transform: translate3d(2217px, 36px, 823px);
  background: #d026d9; }

.bubble:nth-child(5) {
  height: 23px;
  width: 23px;
  animation-delay: -1s;
  transform: translate3d(1388px, 96px, 807px);
  background: #8026d9; }

.bubble:nth-child(6) {
  height: 12px;
  width: 12px;
  animation-delay: -1.2s;
  transform: translate3d(733px, 32px, 987px);
  background: #d0d926; }

.bubble:nth-child(7) {
  height: 2px;
  width: 2px;
  animation-delay: -1.4s;
  transform: translate3d(249px, 39px, 599px);
  background: #d92629; }

.bubble:nth-child(8) {
  height: 24px;
  width: 24px;
  animation-delay: -1.6s;
  transform: translate3d(385px, 19px, 706px);
  background: #26d932; }

.bubble:nth-child(9) {
  height: 27px;
  width: 27px;
  animation-delay: -1.8s;
  transform: translate3d(1230px, 50px, 474px);
  background: #97d926; }

.bubble:nth-child(10) {
  height: 27px;
  width: 27px;
  animation-delay: -2s;
  transform: translate3d(2197px, 43px, 331px);
  background: #d97126; }

.bubble:nth-child(11) {
  height: 27px;
  width: 27px;
  animation-delay: -2.2s;
  transform: translate3d(1587px, 55px, 334px);
  background: #26d9d9; }

.bubble:nth-child(12) {
  height: 28px;
  width: 28px;
  animation-delay: -2.4s;
  transform: translate3d(1546px, 56px, 682px);
  background: #d95026; }

.bubble:nth-child(13) {
  height: 23px;
  width: 23px;
  animation-delay: -2.6s;
  transform: translate3d(1047px, 91px, 720px);
  background: #7a26d9; }

.bubble:nth-child(14) {
  height: 2px;
  width: 2px;
  animation-delay: -2.8s;
  transform: translate3d(-35px, 49px, 771px);
  background: #26d9c4; }

.bubble:nth-child(15) {
  height: 4px;
  width: 4px;
  animation-delay: -3s;
  transform: translate3d(122px, 43px, 903px);
  background: #2688d9; }

.bubble:nth-child(16) {
  height: 28px;
  width: 28px;
  animation-delay: -3.2s;
  transform: translate3d(259px, 26px, 914px);
  background: #d98826; }

.bubble:nth-child(17) {
  height: 28px;
  width: 28px;
  animation-delay: -3.4s;
  transform: translate3d(1156px, 50px, 4px);
  background: #d92665; }

.bubble:nth-child(18) {
  height: 9px;
  width: 9px;
  animation-delay: -3.6s;
  transform: translate3d(687px, 49px, 190px);
  background: #d6d926; }

.bubble:nth-child(19) {
  height: 10px;
  width: 10px;
  animation-delay: -3.8s;
  transform: translate3d(1675px, 70px, 703px);
  background: #d93e26; }

.bubble:nth-child(20) {
  height: 17px;
  width: 17px;
  animation-delay: -4s;
  transform: translate3d(20px, 19px, 686px);
  background: #a926d9; }

.bubble:nth-child(21) {
  height: 22px;
  width: 22px;
  animation-delay: -4.2s;
  transform: translate3d(2095px, 54px, 907px);
  background: #d92674; }

.bubble:nth-child(22) {
  height: 15px;
  width: 15px;
  animation-delay: -4.4s;
  transform: translate3d(1687px, 86px, 759px);
  background: #9dd926; }

.bubble:nth-child(23) {
  height: 26px;
  width: 26px;
  animation-delay: -4.6s;
  transform: translate3d(687px, 14px, 654px);
  background: #d98026; }

.bubble:nth-child(24) {
  height: 9px;
  width: 9px;
  animation-delay: -4.8s;
  transform: translate3d(880px, 5px, 735px);
  background: #d926af; }

.bubble:nth-child(25) {
  height: 2px;
  width: 2px;
  animation-delay: -5s;
  transform: translate3d(1519px, 28px, 693px);
  background: #4d26d9; }

.bubble:nth-child(26) {
  height: 6px;
  width: 6px;
  animation-delay: -5.2s;
  transform: translate3d(1315px, 81px, 682px);
  background: #d9267d; }

.bubble:nth-child(27) {
  height: 12px;
  width: 12px;
  animation-delay: -5.4s;
  transform: translate3d(1466px, 66px, 358px);
  background: #77d926; }

.bubble:nth-child(28) {
  height: 2px;
  width: 2px;
  animation-delay: -5.6s;
  transform: translate3d(690px, 85px, 287px);
  background: #d926ac; }

.bubble:nth-child(29) {
  height: 25px;
  width: 25px;
  animation-delay: -5.8s;
  transform: translate3d(236px, 33px, 808px);
  background: #2688d9; }

.bubble:nth-child(30) {
  height: 20px;
  width: 20px;
  animation-delay: -6s;
  transform: translate3d(1560px, 10px, 584px);
  background: #d93b26; }

.bubble:nth-child(31) {
  height: 26px;
  width: 26px;
  animation-delay: -6.2s;
  transform: translate3d(1210px, 37px, 609px);
  background: #d9265c; }

.bubble:nth-child(32) {
  height: 28px;
  width: 28px;
  animation-delay: -6.4s;
  transform: translate3d(1197px, 35px, 846px);
  background: #bed926; }

.bubble:nth-child(33) {
  height: 10px;
  width: 10px;
  animation-delay: -6.6s;
  transform: translate3d(1386px, 51px, 155px);
  background: #b2d926; }

.bubble:nth-child(34) {
  height: 6px;
  width: 6px;
  animation-delay: -6.8s;
  transform: translate3d(433px, 56px, 597px);
  background: #d9264d; }

.bubble:nth-child(35) {
  height: 11px;
  width: 11px;
  animation-delay: -7s;
  transform: translate3d(1443px, 78px, 307px);
  background: #2659d9; }

.bubble:nth-child(36) {
  height: 12px;
  width: 12px;
  animation-delay: -7.2s;
  transform: translate3d(672px, 92px, 153px);
  background: #41d926; }

.bubble:nth-child(37) {
  height: 18px;
  width: 18px;
  animation-delay: -7.4s;
  transform: translate3d(719px, 45px, 887px);
  background: #26d9d0; }

.bubble:nth-child(38) {
  height: 28px;
  width: 28px;
  animation-delay: -7.6s;
  transform: translate3d(1704px, 93px, 459px);
  background: #26d9d6; }

.bubble:nth-child(39) {
  height: 22px;
  width: 22px;
  animation-delay: -7.8s;
  transform: translate3d(1151px, 17px, 284px);
  background: #26d0d9; }

.bubble:nth-child(40) {
  height: 16px;
  width: 16px;
  animation-delay: -8s;
  transform: translate3d(732px, 45px, 847px);
  background: #2677d9; }

.bubble:nth-child(41) {
  height: 29px;
  width: 29px;
  animation-delay: -8.2s;
  transform: translate3d(1083px, 26px, 850px);
  background: #26d3d9; }

.bubble:nth-child(42) {
  height: 28px;
  width: 28px;
  animation-delay: -8.4s;
  transform: translate3d(642px, 40px, 820px);
  background: #d92656; }

.bubble:nth-child(43) {
  height: 9px;
  width: 9px;
  animation-delay: -8.6s;
  transform: translate3d(434px, 10px, 444px);
  background: #2f26d9; }

.bubble:nth-child(44) {
  height: 6px;
  width: 6px;
  animation-delay: -8.8s;
  transform: translate3d(1735px, 69px, 905px);
  background: #26d9a3; }

.bubble:nth-child(45) {
  height: 10px;
  width: 10px;
  animation-delay: -9s;
  transform: translate3d(1811px, 78px, 991px);
  background: #88d926; }

.bubble:nth-child(46) {
  height: 8px;
  width: 8px;
  animation-delay: -9.2s;
  transform: translate3d(-82px, 2px, 400px);
  background: #26d9a3; }

.bubble:nth-child(47) {
  height: 15px;
  width: 15px;
  animation-delay: -9.4s;
  transform: translate3d(310px, 13px, 587px);
  background: #5326d9; }

.bubble:nth-child(48) {
  height: 3px;
  width: 3px;
  animation-delay: -9.6s;
  transform: translate3d(2248px, 14px, 470px);
  background: #26d971; }

.bubble:nth-child(49) {
  height: 26px;
  width: 26px;
  animation-delay: -9.8s;
  transform: translate3d(1329px, 74px, 159px);
  background: #26d980; }

.bubble:nth-child(50) {
  height: 14px;
  width: 14px;
  animation-delay: -10s;
  transform: translate3d(2272px, 24px, 876px);
  background: #d9269d; }

.bubble:nth-child(51) {
  height: 7px;
  width: 7px;
  animation-delay: -10.2s;
  transform: translate3d(1727px, 85px, 810px);
  background: #26d95f; }

.bubble:nth-child(52) {
  height: 2px;
  width: 2px;
  animation-delay: -10.4s;
  transform: translate3d(377px, 74px, 113px);
  background: #ac26d9; }

.bubble:nth-child(53) {
  height: 13px;
  width: 13px;
  animation-delay: -10.6s;
  transform: translate3d(2228px, 21px, 436px);
  background: #d96526; }

.bubble:nth-child(54) {
  height: 23px;
  width: 23px;
  animation-delay: -10.8s;
  transform: translate3d(2005px, 27px, 993px);
  background: #d97726; }

.bubble:nth-child(55) {
  height: 12px;
  width: 12px;
  animation-delay: -11s;
  transform: translate3d(958px, 74px, 640px);
  background: #d9263e; }

.bubble:nth-child(56) {
  height: 2px;
  width: 2px;
  animation-delay: -11.2s;
  transform: translate3d(1800px, 55px, 495px);
  background: #d926d6; }

.bubble:nth-child(57) {
  height: 24px;
  width: 24px;
  animation-delay: -11.4s;
  transform: translate3d(2222px, 49px, 123px);
  background: #26d947; }

.bubble:nth-child(58) {
  height: 21px;
  width: 21px;
  animation-delay: -11.6s;
  transform: translate3d(2097px, 19px, 588px);
  background: #d93226; }

.bubble:nth-child(59) {
  height: 5px;
  width: 5px;
  animation-delay: -11.8s;
  transform: translate3d(523px, 57px, 516px);
  background: #26d9ac; }

.bubble:nth-child(60) {
  height: 15px;
  width: 15px;
  animation-delay: -12s;
  transform: translate3d(712px, 52px, 398px);
  background: #62d926; }

.bubble:nth-child(61) {
  height: 25px;
  width: 25px;
  animation-delay: -12.2s;
  transform: translate3d(1281px, 30px, 72px);
  background: #d92671; }

.bubble:nth-child(62) {
  height: 18px;
  width: 18px;
  animation-delay: -12.4s;
  transform: translate3d(1476px, 77px, 314px);
  background: #26d93b; }

.bubble:nth-child(63) {
  height: 15px;
  width: 15px;
  animation-delay: -12.6s;
  transform: translate3d(2165px, 77px, 859px);
  background: #d9265c; }

.bubble:nth-child(64) {
  height: 18px;
  width: 18px;
  animation-delay: -12.8s;
  transform: translate3d(1038px, 85px, 668px);
  background: #26d9ac; }

.bubble:nth-child(65) {
  height: 8px;
  width: 8px;
  animation-delay: -13s;
  transform: translate3d(416px, 80px, 31px);
  background: #80d926; }

.bubble:nth-child(66) {
  height: 19px;
  width: 19px;
  animation-delay: -13.2s;
  transform: translate3d(1827px, 92px, 109px);
  background: #8e26d9; }

.bubble:nth-child(67) {
  height: 15px;
  width: 15px;
  animation-delay: -13.4s;
  transform: translate3d(705px, 41px, 534px);
  background: #26d9c1; }

.bubble:nth-child(68) {
  height: 28px;
  width: 28px;
  animation-delay: -13.6s;
  transform: translate3d(990px, 18px, 784px);
  background: #a9d926; }

.bubble:nth-child(69) {
  height: 20px;
  width: 20px;
  animation-delay: -13.8s;
  transform: translate3d(593px, 9px, 451px);
  background: #d93e26; }

.bubble:nth-child(70) {
  height: 20px;
  width: 20px;
  animation-delay: -14s;
  transform: translate3d(1505px, 35px, 714px);
  background: #263bd9; }

.bubble:nth-child(71) {
  height: 5px;
  width: 5px;
  animation-delay: -14.2s;
  transform: translate3d(756px, 28px, 793px);
  background: #d96226; }

.bubble:nth-child(72) {
  height: 9px;
  width: 9px;
  animation-delay: -14.4s;
  transform: translate3d(1766px, 30px, 976px);
  background: #9d26d9; }

.bubble:nth-child(73) {
  height: 16px;
  width: 16px;
  animation-delay: -14.6s;
  transform: translate3d(1453px, 69px, 938px);
  background: #2fd926; }

.bubble:nth-child(74) {
  height: 8px;
  width: 8px;
  animation-delay: -14.8s;
  transform: translate3d(551px, 24px, 859px);
  background: #50d926; }

.bubble:nth-child(75) {
  height: 22px;
  width: 22px;
  animation-delay: -15s;
  transform: translate3d(832px, 31px, 706px);
  background: #8226d9; }

.bubble:nth-child(76) {
  height: 10px;
  width: 10px;
  animation-delay: -15.2s;
  transform: translate3d(2278px, 71px, 41px);
  background: #26d929; }

.bubble:nth-child(77) {
  height: 10px;
  width: 10px;
  animation-delay: -15.4s;
  transform: translate3d(1557px, 72px, 837px);
  background: #265fd9; }

.bubble:nth-child(78) {
  height: 27px;
  width: 27px;
  animation-delay: -15.6s;
  transform: translate3d(2002px, 88px, 851px);
  background: #68d926; }

.bubble:nth-child(79) {
  height: 20px;
  width: 20px;
  animation-delay: -15.8s;
  transform: translate3d(734px, 93px, 75px);
  background: #2cd926; }

.bubble:nth-child(80) {
  height: 17px;
  width: 17px;
  animation-delay: -16s;
  transform: translate3d(-52px, 12px, 372px);
  background: #d9269a; }

.bubble:nth-child(81) {
  height: 27px;
  width: 27px;
  animation-delay: -16.2s;
  transform: translate3d(2051px, 79px, 257px);
  background: #7ad926; }

.bubble:nth-child(82) {
  height: 23px;
  width: 23px;
  animation-delay: -16.4s;
  transform: translate3d(1624px, 77px, 703px);
  background: #26cad9; }

.bubble:nth-child(83) {
  height: 3px;
  width: 3px;
  animation-delay: -16.6s;
  transform: translate3d(916px, 89px, 574px);
  background: #3226d9; }

.bubble:nth-child(84) {
  height: 23px;
  width: 23px;
  animation-delay: -16.8s;
  transform: translate3d(1518px, 15px, 773px);
  background: #d92656; }

.bubble:nth-child(85) {
  height: 29px;
  width: 29px;
  animation-delay: -17s;
  transform: translate3d(712px, 86px, 525px);
  background: #26d9a0; }

.bubble:nth-child(86) {
  height: 5px;
  width: 5px;
  animation-delay: -17.2s;
  transform: translate3d(1908px, 85px, 916px);
  background: #2694d9; }

.bubble:nth-child(87) {
  height: 24px;
  width: 24px;
  animation-delay: -17.4s;
  transform: translate3d(348px, 36px, 54px);
  background: #82d926; }

.bubble:nth-child(88) {
  height: 12px;
  width: 12px;
  animation-delay: -17.6s;
  transform: translate3d(1467px, 33px, 918px);
  background: #7a26d9; }

.bubble:nth-child(89) {
  height: 6px;
  width: 6px;
  animation-delay: -17.8s;
  transform: translate3d(224px, 69px, 318px);
  background: #d99a26; }

.bubble:nth-child(90) {
  height: 15px;
  width: 15px;
  animation-delay: -18s;
  transform: translate3d(1531px, 99px, 708px);
  background: #d92644; }

.bubble:nth-child(91) {
  height: 18px;
  width: 18px;
  animation-delay: -18.2s;
  transform: translate3d(477px, 96px, 219px);
  background: #d92665; }

.bubble:nth-child(92) {
  height: 2px;
  width: 2px;
  animation-delay: -18.4s;
  transform: translate3d(1154px, 99px, 222px);
  background: #26acd9; }

.bubble:nth-child(93) {
  height: 5px;
  width: 5px;
  animation-delay: -18.6s;
  transform: translate3d(764px, 19px, 776px);
  background: #d9bb26; }

.bubble:nth-child(94) {
  height: 19px;
  width: 19px;
  animation-delay: -18.8s;
  transform: translate3d(596px, 72px, 700px);
  background: #c126d9; }

.bubble:nth-child(95) {
  height: 12px;
  width: 12px;
  animation-delay: -19s;
  transform: translate3d(2151px, 93px, 991px);
  background: #7a26d9; }

.bubble:nth-child(96) {
  height: 27px;
  width: 27px;
  animation-delay: -19.2s;
  transform: translate3d(2240px, 44px, 427px);
  background: #a026d9; }

.bubble:nth-child(97) {
  height: 17px;
  width: 17px;
  animation-delay: -19.4s;
  transform: translate3d(572px, 6px, 785px);
  background: #26d9b2; }

.bubble:nth-child(98) {
  height: 27px;
  width: 27px;
  animation-delay: -19.6s;
  transform: translate3d(971px, 28px, 610px);
  background: #8226d9; }

.bubble:nth-child(99) {
  height: 8px;
  width: 8px;
  animation-delay: -19.8s;
  transform: translate3d(1266px, 47px, 838px);
  background: #26b2d9; }

.bubble:nth-child(100) {
  height: 29px;
  width: 29px;
  animation-delay: -20s;
  transform: translate3d(1332px, 19px, 518px);
  background: #6e26d9; }
