#wrapper{
    position:absolute;
    width:100%;
    height:100%;
    animation: feed-in 0.001s linear 11.70s reverse forwards;

}

.cube_left,
.cube_right,.cube_top,
.cube_bottom,.cube_center{
    position:absolute;
    opacity: 0;
}

.cube_top {
    top:0%;
    left:0%;
    right:0%;
    width: 100%;
    margin: auto;
    background-color:#f9c;
    transform: rotateX(-70deg);
    -webkit-transform: rotateX(-70deg);
    -moz-transform: rotateX(-70deg);
    -o-transform: rotateX(-70deg);
    -ms-transform: rotateX(-70deg);
    z-index: 10;
    animation: updown 0.3s linear 4.8s forwards,
    tograd 0.5s ease-in-out 5.28s forwards;
    background-image: linear-gradient(
    0deg,#ff9393 0%,#ff9393 50%,#ffff7f 50%,#ffff7f 100%);
    background-image: -webkit-linear-gradient(
    0deg,#ff9393 0%,#ff9393 50%,#ffff7f 50%,#ffff7f 100%);
    background-size: 200% 200%;
    background-position: 100% 0%;
    }

.cube_right {
    right:0%;
    height:100%;
    transform: rotateY(-70deg) ;
    -webkit-transform: rotateY(-70deg) ;
    -moz-transform: rotateY(-70deg) ;
    -o-transform: rotateY(-70deg) ;
    -ms-transform: rotateY(-70deg) ;
    z-index: 20;
    animation: tofro 0.3s linear 4.2s forwards,
    upgrad 0.5s ease-in-out 5.2s reverse forwards;
    background-image: linear-gradient(90deg,#bcbcff 0%,#bcbcff 50%,#ffff77 50%,#ffff77 100%);
    background-image: -webkit-linear-gradient(90deg,#bcbcff 0%,#bcbcff 50%,#ffff77 50%,#ffff77 100%);
    background-size: 200% 200%;
    background-position: 0% 100%;
    }

.cube_bottom {
    bottom:0%;
    left:0%;
    right:0%;
    width: 100%;
    margin: auto;
    background-color:rgba(255,241,0,0.7);
    transform: rotateX(70deg);
    -webkit-transform: rotateX(70deg);
    -moz-transform: rotateX(70deg);
    -o-transform: rotateX(70deg);
    -ms-transform: rotateX(70deg);
    z-index: 10;
    animation: updown 0.3s linear 4.4s forwards,
    tograd 0.5s ease-in-out 5.28s reverse forwards;
    background-image: linear-gradient(0deg,#7fff7f 0%,#7fff7f 50%,#bcbcff 50%,#bcbcff 100%);
    background-image: -webkit-linear-gradient(0deg,#7fff7f 0%,#7fff7f 50%,#bcbcff 50%,#bcbcff 100%);
    background-size: 200% 200%;
    background-position: 0% 0%;
}

.cube_left {
    left:0%;
    height:100%;
    background-color:#09c;
    transform: rotateY(70deg) ;
    -webkit-transform: rotateY(70deg) ;
    -moz-transform: rotateY(70deg) ;
    -o-transform: rotateY(70deg) ;
    -ms-transform: rotateY(70deg) ;
    z-index: 20;
    animation: tofro 0.3s linear 4.6s forwards,
    upgrad 0.5s ease-in-out 5.2s forwards;
    background-image: linear-gradient(90deg,#7fff7f 0%,#7fff7f 50%,#ff9393 50%,#ff9393  100%);
    background-image: -webkit-linear-gradient(90deg,#7fff7f 0%,#7fff7f 50%,#ff9393  50%,#ff9393  100%);
    background-size: 200% 200%;
    background-position: 0% 0%;

}

.cube_center {
    left:0%;
    top:0%;
    bottom:0%;
    right:0%;
    margin: auto;
    width: 70% ;
  height:  70% ;
    margin: auto;
    background-color:rgb(246,244,240);
    z-index: 30;

    border-radius: 10% 10% 10% 10%;
    animation: centercamera 0.6s linear 5.7s forwards;
}

.cube_center .mini_hacka{
    position:absolute;
    bottom: 0%;
    left: 50%;
  top: 50%;
    overflow: hidden;
    content: url(./image/mini_hacka_1.png);
    height: 70%;
    width:auto;
    transform: translate(100%, -40%);
    opacity: 0;
    animation:
    jump 0.7s ease-in-out 6.3s forwards,
    spin2 0.8s ease-in-out 7.0s forwards;
}

.hacka-watyawatya{
    position: absolute;
    width:100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10% 10% 10% 10%;
    background-color: hsl(34, 53%, 82%);
background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
  ),
repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
);

}
.tobideru{
    position: absolute;
    height: 60%;
    width:auto;
    bottom:0;
    opacity: 0;
    margin: auto;
    content: url(./image/mini_hacka_4.png);
}
.tobideru:nth-child(1){height: 140%;width:auto;right: 10%;animation: yureup 0.6s ease-in-out 7.5s backwards; --hackangle: -30deg;--xlast: 10%;--ylast: 50%;}
.tobideru:nth-child(2){height: 140%;width:auto;right: 15%;animation: yureup 0.6s ease-in-out 7.9s backwards;--hackangle: -90deg;--xlast: 20%;--ylast: 50%;}
.tobideru:nth-child(3){height: 140%;width:auto;left: 0%;animation: yureup 0.6s ease-in-out 8.3s backwards;--hackangle: 120deg;--xlast: 10%;--ylast: 40%;}
.tobideru:nth-child(4){height: 140%;width:auto;left: 0%;animation: yureup 0.6s ease-in-out 8.7s backwards;--hackangle: 30deg;--xlast: 10%;--ylast: 40%;}
.tobideru:nth-child(5){height: 140%;width:auto;left: 0%;right: 0%;top: 0%;animation: upcen 0.5s ease-in-out 9.3s backwards;--xlast: -0%;--ylast: 20%;}
.tobideru:nth-child(6){height: 160%;width:auto;left: 0%;right: 0%;top: 0%;animation: upcen 0.5s ease-in-out 9.8s backwards;--xlast: -2%;--ylast: 20%;}
.tobideru:nth-child(7){height: 180%;width:auto;left: 0%;right: 0%;top: 0%;animation: upcen 0.5s ease-in-out 10.3s backwards;--xlast: -4%;--ylast: 20%;}
@keyframes yureup {
 0%   { transform: scale(1.0, 1.0) rotate(var(--hacangle)) translate(10%,60%) ; opacity: 0;}
 1%   { transform: scale(1.0, 1.0) rotate(var(--hacangle)) translate(10%,60%) ; opacity: 1;}
 20%  { transform: scale(1.0, 1.06)  rotate(var(--hackangle)) translate(15%, 60%); }
 50%  { transform: scale(1.0, 0.94) rotate(var(--hackangle)) translate(15%, 60%) ;}
 65%  { transform: scale(1.0, 1.03) rotate(var(--hackangle)) translate(12%, 60%) skew(-3deg, 0deg) ; }
 80%  { transform: scale(1.0, 0.97) rotate(var(--hackangle)) translate(12%, 60%) skew(3deg, 0deg) ; }
 100% { transform: scale(1.0, 1.0) rotate(var(--hackangle)) translate(var(--xlast), var(--ylast)) skew(0deg, 0deg) ; opacity: 1;}

}

@keyframes upcen {
    0%   { transform: scale(1.0, 1.0)  translate(var(--xlast),80%) ; opacity: 0;}
    1%   { transform: scale(1.0, 1.0) translate(var(--xlast),80%) ; opacity: 1;}
    20%  { transform: scale(1.0, 1.06)  translate(var(--xlast), var(--ylast)); }
    50%  { transform: scale(1.0, 0.94) translate(var(--xlast), var(--ylast)) ;}
    65%  { transform: scale(1.0, 1.03) translate(var(--xlast), var(--ylast))  ; }
    80%  { transform: scale(1.0, 0.97) translate(var(--xlast), var(--ylast))  ; }
    100% { transform: scale(1.0, 1.0) translate(var(--xlast), 50%) ; opacity: 1;}
}

.rhombus-field{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    z-index: 90;
    animation: feed-in 0.001s linear 10.899s forwards;
}

.rhombus {
    --diagonal-x: 30vw;
    --diagonal-y: 60vh;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    top:-30%;

    border-bottom: calc(var(--diagonal-y) / 2) solid var(--color);
    border-left: calc(var(--diagonal-x) / 2) solid transparent;
    border-right: calc(var(--diagonal-x) / 2) solid transparent;
    position: absolute;
    margin: auto;

    }

.rhombus::after {
    content: "";
    width: 0;
    height: 0;
    border-top: calc(var(--diagonal-y) / 2) solid var(--color);
    border-left: calc(var(--diagonal-x) / 2) solid transparent;
    border-right: calc(var(--diagonal-x) / 2) solid transparent;
    position: absolute;
    top: calc(var(--diagonal-y) / 2);
    left: calc(var(--diagonal-x) / -2);
    }

.rhombus:nth-child(1)   {animation: pulsate 0.8s ease-out 10.8s forwards;--color: #c93a40;}
.rhombus:nth-child(2)   {animation: pulsate 0.8s ease-out 10.88s forwards;--color: #d16b16;}
.rhombus:nth-child(3)   {animation: pulsate 0.8s ease-out 11.96s forwards;--color: #f2cf01;}
.rhombus:nth-child(4)   {animation: pulsate 0.8s ease-out 11.04s forwards;--color: #a0c238;}
.rhombus:nth-child(5)   {animation: pulsate 0.8s ease-out 11.12s forwards;--color: #65ace4;}
.rhombus:nth-child(6)   {animation: pulsate 0.8s ease-out 11.20s forwards;--color: #0074bf;}
.rhombus:nth-child(7)   {animation: pulsate 0.8s ease-out 11.28s forwards;--color: #9460a0;}


{/*パステルバージョン
    .rhombus:nth-child(1)   {animation: pulsate 1s ease-out 12s forwards;--color: #ff7f7f;}
    .rhombus:nth-child(2)   {animation: pulsate 1s ease-out 12.1s forwards;--color: #ffbf7f;}
    .rhombus:nth-child(3)   {animation: pulsate 1s ease-out 12.2s forwards;--color: #ffff7f;}
    .rhombus:nth-child(4)   {animation: pulsate 1s ease-out 12.3s forwards;--color: #7fff7f;}
    .rhombus:nth-child(5)   {animation: pulsate 1s ease-out 12.4s forwards;--color: #7fffff;}
    .rhombus:nth-child(6)   {animation: pulsate 1s ease-out 12.5s forwards;--color: #7fbfff;}
    .rhombus:nth-child(7)   {animation: pulsate 1s ease-out 12.6s forwards;--color: #bf7fff;}

*/}

.hacka_field{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 100;

}

.hacka{
    position:absolute;
    width: auto;
    height: 40%;
    opacity: 0;

}

.hacka:nth-child(1){content: url(./image/hacka_1.png);
                    right: 10%;
                    bottom: 60%;
                    animation:hacka-anime 0.5s ease-in-out 13.3s forwards,
                    hacka-anime2 0.5s ease-in-out 14.8s forwards,
                    hacka-anime3 0.5s ease-in-out 15.1s forwards,
                    hacka-anime4 0.5s ease-in-out 16.8s forwards,
                    ball_change 1.5s linear 17.3s forwards,
                    hacka-anime2 0.5s linear 18.8s forwards;
                }
.hacka:nth-child(2){content: url(./image/hacka_2.png);
                    right: 10%;
                    bottom: 0%;
                    animation:hacka-anime 0.5s ease-in-out 13.8s forwards,
                    hacka-anime2 0.5s ease-in-out 15.3s forwards,
                    hacka-anime3 0.5s ease-in-out 15.6s forwards,
                    hacka-anime4 0.5s ease-in-out 16.8s forwards,
                    ball_change 1.5s linear 17.3s forwards,
                    hacka-anime2 0.5s linear 18.8s forwards;
                }
.hacka:nth-child(3){content: url(./image/hacka_3.png);
                    right: 60%;
                    bottom: 60%;
                    animation:hacka-anime 0.5s ease-in-out 14.3s forwards,
                    hacka-anime2 0.5s ease-in-out 15.8s forwards,
                    hacka-anime3 0.5s ease-in-out 16.1s forwards,
                    hacka-anime4 0.5s ease-in-out 16.8s forwards,
                    ball_change 1.5s linear 17.3s forwards,
                    hacka-anime2 0.5s linear 18.8s forwards;
                }
.hacka:nth-child(4){content: url(./image/hacka_4.png);
                    right: 60%;
                    bottom: 0%;
                    animation:hacka-anime 0.5s ease-in-out 14.8s forwards,
                    hacka-anime2 0.5s ease-in-out 16.3s forwards,
                    hacka-anime3 0.5s ease-in-out  16.6s forwards,
                    hacka-anime4 0.5s ease-in-out 16.8s forwards,
                    ball_change 1.5s linear 17.3s forwards,
                    hacka-anime2 0.5s linear 18.8s forwards;
                }

@keyframes hacka-anime {
    0%{transform: scale(0.1);opacity: 1;}
    50%{transform: scale(1.5);opacity: 1;}
    100%{transform: scale(1.0);opacity: 1;}
}

@keyframes hacka-anime2 {
    0%{ transform: scale(1.0); }
    20%{ transform: scale(1.3); }
    100%{ transform: scale(0);content:""; }
}

@keyframes hacka-anime3 {
    0%{ transform: scale(0);content:"";height: 30vh;width: 30vh;border-radius: 50%;background-color: red;}
    75%{ transform: scale(0.5);content:"";height: 30vh;width: 30vh;border-radius: 50%;background-color: red;}
    100%{transform: scale(1.0); height: 30vh;width: 30vh;border-radius: 50%;background-color: red;content:"";}
}

@keyframes hacka-anime4 {
    100%{
        right:40%;
        bottom:40%;

    }
}

.test{
    position:absolute;
height: 30vh;width: 30vh;border-radius: 50%;background-color: red;right:0;
bottom:0;left: 0;top: 0;margin: auto;
opacity: 0;
animation: feed-in 0.001s linear 16.299s forwards,
            ball_change 2.0s linear 16.3s forwards,
            hacka-anime2 0.5s linear 18.3s forwards;

}

@keyframes ball_change {
    0%   { transform: scale(1.0, 1.0) translate(0%, 0%); background-color:#FF6138}
  15%  { transform: scale(0.9, 0.9) translate(0%, 5%); }
  25%  { transform: scale(0.3, 0.3) translate(0%, 10%); }
  35%  { transform: scale(1.8, 0.8) translate(0%, 10%); }
  45%  { transform: scale(0.3, 0.3) translate(0%, 10%); }
  55%  { transform: scale(0.8, 1.8) translate(0%, 0%); }
  65%  { transform: scale(0.3, 0.3) translate(0%, 10%);}
  75%  { transform: scale(1.8, 0.8) translate(0%, 10%);}
  85%  { transform: scale(0.3, 0.3) translate(0%, 0%); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); background-color: #79BD8F}
}

@keyframes sikaku {
    0%{border-radius: 50%}
    100%{border-radius: 0%;}

}

.fonts{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    margin: auto;
    opacity: 0;
    height: 10vw;
    letter-spacing: 3vw;
    overflow: hidden;
    display: flex;
	align-items: center;
	justify-content: center;
    font-family:'hacka_text';
    font-size: 8vw;
    animation: font_rotate 1.5s ease-in-out 11.8s forwards,
                font_spread 1s ease-in-out 13.8s reverse forwards;
}


@keyframes font_rotate {
    0%{ transform: rotate(0deg) scaleX(0.1);opacity: 1;}
    10%{ transform: rotate(-40deg) scaleX(0.6); }
    50%{transform: rotate(100deg) scaleX(0.8);}
    65%{transform: rotate(250deg) scaleX(1.0);}
    80%{transform: rotate(360deg) scaleX(1.5);}
    100%{transform: rotate(360deg) scaleX(0.8); opacity: 1;}

}
.ribon_left{
    height: 200%;
    border-left: 10vw solid red;
    transform: skewX(-45deg) translate(-50%,-50%);
    animation: ribon_move 20s linear 12.1s forwards;
}

.ribon_right{
    height: 0%;
    right: 0;
    border-right: 10vw solid red;
    transform: skewX(45deg);
    animation: ribon_move 1s linear 0.1s forwards;

}

.feeling-box {
	overflow: hidden;
	position: absolute;
	width: 30vw;
	height: 30vw;
    opacity: 0;
	background-color: transparent;
}

.feeling-box .feeling-ribon {
	position: absolute;
	top: 0;
	left: 0;
	width: 45vw;
	height: 10vw;
	line-height: 10vw;
	background: linear-gradient(yellow 0%, orange 100%);
	color: white;
	font-size: 2.5vw;
	text-align: center;
	text-shadow: 0 0 0.4vw black;
	box-shadow: 0 0 0.4vw black;
	-webkit-transform: rotate(-45deg) translate(-10vw,-10vw);
	-moz-transform: rotate(-45deg) translate(-10vw,-10vw);
	-ms-transform: rotate(-45deg) translate(-10vw,-10vw);
	-o-transform: rotate(-45deg) translate(-10vw,-10vw);
	transform: rotate(-45deg) translate(-10vw,-10vw);
    animation:rotate-feeling 0.5s linear 15.1s forwards;
}

.feeling-box:nth-child(1){right: 16.2%;top: 0%;animation: feed-in 0.1s linear 13.3s forwards;}
.feeling-box:nth-child(2){right: 16.2%;top: 57%;animation: feed-in 0.1s linear 13.8s forwards;}
.feeling-box:nth-child(3){left: 0%;top: 0%;animation: feed-in 0.1s linear 14.3s forwards;}
.feeling-box:nth-child(4){left: 0%;top: 57%;animation: feed-in 0.1s linear 14.8s forwards;}



.hackadoool {

    height: 10vw;
    display: flex;
	align-items: center;
	justify-content: center;
    font-size: 8vw;

    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    margin: auto;
    opacity: 0;
    line-height: 40vh;
    font-family: 'ranobe', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .2) 0.6vh 0.6vh 0.6vh;
/*text stroke*/
    -webkit-text-stroke: 0.4vh #fff473;
    animation: change_3d 1s  ease-in-out 13.3s forwards,font_spread 1s ease-in-out 17.3s reverse forwards;
}


@keyframes rotate-feeling {
    0%{}
    100%{width:0px;}

}
@keyframes point_center {

    100%{right:35%;top:15%;}

}

@keyframes change_3d {
    0%{transform: scale(0.0);opacity: 1;}
    20%{transform: scale(1.5);}
    100%{transform: scale(1.0);opacity: 1;}

}



@keyframes ribon_move {
    0%{
        transform: translate(-50%,-50%) skewX(-45deg);;

    }
    100%{
        transform: translate(200%,0%) skewX(-45deg);;
    }

}

@keyframes font_spread {
    0%{
        opacity: 0;
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);

        opacity:1;
    }

}

@keyframes feed-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}

@keyframes pulsate {
    0%   { transform: scale(0,0); }
    50%  { opacity: 1; }
    100% { transform: scale(8, 8); opacity: 0.0; }
}

@keyframes updown {
    0%{
        opacity: 0;
        height:0%;
    }

    1%{
        opacity: 1;
        height:0%;
    }

    100%{
        opacity: 1;
        height:50%;
    }
}

@keyframes tofro {
    0%{
        opacity: 0;
        width:0%;
    }

    1%{
        opacity: 1;
        width:0%;
    }

    100%{
        opacity: 1;
        width:50%;
    }
}

@keyframes centercamera {
  0% {
      opacity: 0;
      transform: scale(0.0);
  }
  1% {
      opacity: 1;
      perspective: scale(0.0);
  }
  100% {
      opacity: 1;
      perspective: scale(1.0);
  }
}

@keyframes upgrad {
    0%{
        background-position: 0% 0%;
    }
  100%{
      background-position: 0% 100%; }
}

@keyframes tograd {
    0%{
        background-position: 100% 0%;
    }
  100%{
      background-position: 0% 0%; }
}

@keyframes jump {
  0%   { transform: translate(100%, -100%); opacity: 1;}
  80% { transform: translate(-70%, -40%); opacity: 1;}
  100% { transform: translate(-50%, -40%); opacity: 1;}
}



@keyframes spin2 {
	0% {transform: translate(-50%, -40%) rotateY(0deg);
        content: url(./image/mini_hacka_1.png);

    }
	80% {transform: translate(-50%, -40%) rotateY(360deg);
        content: url(./image/mini_hacka_3.png);
    }
    100% {transform: translate(-50%, 100%) rotateY(360deg);
        content: url(./image/mini_hacka_3.png);
    }
}
{/*
@keyframes spin3 {
	0% {transform: translate(-50%, -40%) rotateY(0deg);
        content: url(./image/mini_hacka_3.png);

    }
	100% {transform: translate(-50%, -40%) rotateY(360deg);
        content: url(./image/mini_hacka_4.png);
    }
}
*/}
