.article h1:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
}

.article h1 {
  text-align: center;
  position: relative;
  margin: 80px 0;
}

.article h2 {
  border-left: solid 4px #444;
  padding: 0px 10px;
  margin-top: 80px;
}

.article p, .article li {
  line-height: 2.5rem;
}

@media (min-width:601px) {
  img {
    max-width: 500px
  }
}
@media (max-width:600px) {
  img {
    max-width: 90vw;
  }
}

pre {
  background: #FFFFFF !important;
  border: gray solid 1px;
  padding: 3px 5px;
  line-height: 2rem;
  white-space: pre-wrap;
}

.hljs {
  padding: 0;
}

.shares {
  display: flex;
}

.shares > div, .shares > iframe {
  margin-right: 10px;
  cursor: pointer;
}

.shares > iframe {
  width: 72px !important;
  height: 32px !important;
  border-radius: 24px;
}

.SocialMediaShareCount {
  text-align: center;
}
